*:not(.fa) {
  font-family: "Open Sans", sans-serif;
}
.navbar-light {
  background-color: #563e7c !important;
}
.navbar-light .navbar-brand {
  color: #fff !important;
  letter-spacing: 0.1rem;
}
.block-mod {
  height: calc(100vh - 3rem - 2rem);
  background: #fff;
}
.block-header-mod {
  height: 3rem;
  padding: 0.8rem 0px;
  text-align: center;
  background: #432b69;
  color: #fff;
  /* letter-spacing: 0.2rem; */
}
.block-header-info {
  font-size: 0.8rem;
  height: 100%;
  text-align: center;
  padding-top: 1rem;
  color: #fff;
}
.block-header-lu {
  padding-top: 0.3rem;
  font-size: 0.5rem;
  color: rgba(255, 255, 255, 0.6);
}
.navbar {
  padding: 0.1rem 1rem;
  height: 3rem;
}
.container-fluid {
  background: #f8f9fa !important;
}
.block-div {
  padding: 1rem 0.5rem;
}
.block-kwd {
  margin-left: -0.5rem;
  margin-top: -0.5rem;
}
.a-block-vis {
  margin-top: 0.8rem;
}
.block-note {
  font-size: 0.5rem;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 0.3rem !important;
}
.block-header-boxvis {
  background: #eaeaea;
}
.block-bottom {
  margin-top: -0.5rem;
}
.block-title {
  font-size: 0.9rem;
}
.prodvis {
  margin-top: -1.5rem;
}
.selvis {
  margin-top: -1.5rem;
}
.updated-date-info {
  color: #fff;
  font-weight: lighter;
  font-size: 0.8rem;
}
.soldblock {
  color: #17a0b7;
}
.seenblock {
  color: #6c757d;
}
.weightblock {
  color: #007afe;
}
.detail-button {
  cursor: pointer;
}
#tabular {
  height: 100vh;
}
td,
th {
  font-size: 0.8rem;
}
